<%- include('../partials/header'); %>

<main class="main" id="albumMain">
    <div class="container">
        <div class="row">
            <a href="/album/sort/" class="nav-link text-capitalize">sort albums</a>
            <a href="/album/form/" class="nav-link text-capitalize">add an album</a>
        </div>
        <div class="row">
            <div class="col-md-10">
                <div class="row">
                    <% data.forEach(item => { %>
                        <div class="col-sm-3">
                            <figure class="figure album-figure">
                                <img src="/images/<%= item.album_cover %>" alt="<%= item.title %> album cover" class="img-fluid album-cover rounded"/>
                                <figcaption class="figure-caption">
                                    <a href="/album/<%= item.album_id %>">
                                        <%= item.title %>
                                    </a>
                                </figcaption>
                                <figcaption class="figure-caption">
                                    <% if (item.band == '') { %>
                                        <% if (item.alias == '') { %>
                                            <%= item.fName %> <%= item.lName %>
                                        <% } else { %>
                                            <%= item.alias %>
                                        <% } %>
                                    <% } else { %>
                                        <%= item.band %>
                                    <% } %>
                                </figcaption>
                            </figure>
                        </div>
                    <% }) %>
                </div>
            </div>
            <div class="col-2">
                <%- include('../partials/aside'); %>
            </div>
        </div>
    </div>
</main>

<%- include('../partials/footer'); %>